<aside>
  <h1>Upcoming shows</h1>

<!--   <ul>
  <li>Show 1</li>
  <li>Show 2</li>
  <li>Show 3</li>
</ul> -->

  <p>There are no dates yet</p>

  <div class="pearlpromo">
    <h2>Pearl Snaps</h2>
    <img src="/img/pearlsnaps-150x150.jpg">
    <p>The new album from</p>
    <h3>Motel Ice Machine</h3>
    <p>Out now!</p>
    <ul>
      <li><a href="https://itunes.apple.com/us/album/pearl-snaps/id599420845">iTunes</a></li>
      <li><a href="http://www.amazon.com/Pearl-Snaps/dp/B00BCCUNLG">Amazon</a></li>
      <li><a href="http://www.cdbaby.com/cd/motelicemachine2">CDBaby</a></li>
      <li><a href="https://play.google.com/store/music/album/Motel_Ice_Machine_Pearl_Snaps?id=Bgcdrs7m6fxvio6dncg5r5udjbe">Google Play</a></li>
    </ul>
  </div>



</aside>
